@import url(../runo/styles.css);

/* Default entity manager and entity view styles */
@import url(entityviews/entitymanagerview.css);
@import url(entityviews/entityviews.css);
@import url(http://fonts.googleapis.com/css?family=Gravitas+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700);
/* Main application background */
.v-app {
	background: #FAFAFA;
	}
	
.v-label-mainHeader {
	font-family: 'Open Sans', sans-serif;
	font-size: xx-large;
	font-weight: bold;
	padding-top: 10px;
}

.v-label-roundHeader {
	font-size: x-large;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 15px;
}

.v-label-standingsHeader{
	font-size: x-large;
	margin-top: 20px;
	font-weight: bold;
}

.v-label-mainFooter{
	font-size: small;
	margin-top: 0px;
	padding-top: 0px;
}
.v-label-ownTeamHeader{
	font-size: large;
	font-weight: bold;
}

.v-label-gameHeader {
    font-size: large;
    font-weight: bold;
    margin-bottom: 15px;
   
}

.v-caption-totalTable {
  font-weight: bold;
 }

.v-table{
	margin-bottom: 40px;
}
